ProyectoX/SanJacinto/Service References/wsAlquiler/AlquilerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AlquilerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2714/AlquilerService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2714/AlquilerService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SOAPServices.Dominio" />
      <xsd:import schemaLocation="http://localhost:2714/AlquilerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2714/AlquilerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SanJacintoServices.Dominio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAlquilerService_registrarAlquiler_InputMessage">
    <wsdl:part name="parameters" element="tns:registrarAlquiler" />
  </wsdl:message>
  <wsdl:message name="IAlquilerService_registrarAlquiler_OutputMessage">
    <wsdl:part name="parameters" element="tns:registrarAlquilerResponse" />
  </wsdl:message>
  <wsdl:message name="IAlquilerService_registrarAlquiler_ValidationExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/SOAPServices.Dominio" name="detail" element="q1:ValidationException" />
  </wsdl:message>
  <wsdl:message name="IAlquilerService_obtenerAlquiler_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerAlquiler" />
  </wsdl:message>
  <wsdl:message name="IAlquilerService_obtenerAlquiler_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerAlquilerResponse" />
  </wsdl:message>
  <wsdl:message name="IAlquilerService_listaAlquileres_InputMessage">
    <wsdl:part name="parameters" element="tns:listaAlquileres" />
  </wsdl:message>
  <wsdl:message name="IAlquilerService_listaAlquileres_OutputMessage">
    <wsdl:part name="parameters" element="tns:listaAlquileresResponse" />
  </wsdl:message>
  <wsdl:message name="IAlquilerService_RealizarDevolucion_InputMessage">
    <wsdl:part name="parameters" element="tns:RealizarDevolucion" />
  </wsdl:message>
  <wsdl:message name="IAlquilerService_RealizarDevolucion_OutputMessage">
    <wsdl:part name="parameters" element="tns:RealizarDevolucionResponse" />
  </wsdl:message>
  <wsdl:portType name="IAlquilerService">
    <wsdl:operation name="registrarAlquiler">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlquilerService/registrarAlquiler" message="tns:IAlquilerService_registrarAlquiler_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlquilerService/registrarAlquilerResponse" message="tns:IAlquilerService_registrarAlquiler_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAlquilerService/registrarAlquilerValidationExceptionFault" name="ValidationExceptionFault" message="tns:IAlquilerService_registrarAlquiler_ValidationExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="obtenerAlquiler">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlquilerService/obtenerAlquiler" message="tns:IAlquilerService_obtenerAlquiler_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlquilerService/obtenerAlquilerResponse" message="tns:IAlquilerService_obtenerAlquiler_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listaAlquileres">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlquilerService/listaAlquileres" message="tns:IAlquilerService_listaAlquileres_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlquilerService/listaAlquileresResponse" message="tns:IAlquilerService_listaAlquileres_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RealizarDevolucion">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlquilerService/RealizarDevolucion" message="tns:IAlquilerService_RealizarDevolucion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlquilerService/RealizarDevolucionResponse" message="tns:IAlquilerService_RealizarDevolucion_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAlquilerService" type="tns:IAlquilerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="registrarAlquiler">
      <soap:operation soapAction="http://tempuri.org/IAlquilerService/registrarAlquiler" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ValidationExceptionFault">
        <soap:fault use="literal" name="ValidationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="obtenerAlquiler">
      <soap:operation soapAction="http://tempuri.org/IAlquilerService/obtenerAlquiler" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listaAlquileres">
      <soap:operation soapAction="http://tempuri.org/IAlquilerService/listaAlquileres" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RealizarDevolucion">
      <soap:operation soapAction="http://tempuri.org/IAlquilerService/RealizarDevolucion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AlquilerService">
    <wsdl:port name="BasicHttpBinding_IAlquilerService" binding="tns:BasicHttpBinding_IAlquilerService">
      <soap:address location="http://localhost:2714/AlquilerService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>