ProyectoX/SanJacinto/Service References/wsUsuarioService/UsuarioService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UsuarioService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2714/UsuarioService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2714/UsuarioService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SOAPServices.Dominio" />
      <xsd:import schemaLocation="http://localhost:2714/UsuarioService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2714/UsuarioService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SanJacintoServices.Dominio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUsuarioService_CrearUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearUsuario" />
  </wsdl:message>
  <wsdl:message name="IUsuarioService_CrearUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuarioService_CrearUsuario_ValidationExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/SOAPServices.Dominio" name="detail" element="q1:ValidationException" />
  </wsdl:message>
  <wsdl:message name="IUsuarioService_ObtenerUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUsuario" />
  </wsdl:message>
  <wsdl:message name="IUsuarioService_ObtenerUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuarioService_ModificarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarUsuario" />
  </wsdl:message>
  <wsdl:message name="IUsuarioService_ModificarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuarioService_EliminarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarUsuario" />
  </wsdl:message>
  <wsdl:message name="IUsuarioService_EliminarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuarioService_EliminarUsuario_ValidationExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/SOAPServices.Dominio" name="detail" element="q2:ValidationException" />
  </wsdl:message>
  <wsdl:message name="IUsuarioService_ListarUsuarios_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarUsuarios" />
  </wsdl:message>
  <wsdl:message name="IUsuarioService_ListarUsuarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarUsuariosResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuarioService_AutenticarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:AutenticarUsuario" />
  </wsdl:message>
  <wsdl:message name="IUsuarioService_AutenticarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:AutenticarUsuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="IUsuarioService">
    <wsdl:operation name="CrearUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuarioService/CrearUsuario" message="tns:IUsuarioService_CrearUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuarioService/CrearUsuarioResponse" message="tns:IUsuarioService_CrearUsuario_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUsuarioService/CrearUsuarioValidationExceptionFault" name="ValidationExceptionFault" message="tns:IUsuarioService_CrearUsuario_ValidationExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuarioService/ObtenerUsuario" message="tns:IUsuarioService_ObtenerUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuarioService/ObtenerUsuarioResponse" message="tns:IUsuarioService_ObtenerUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuarioService/ModificarUsuario" message="tns:IUsuarioService_ModificarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuarioService/ModificarUsuarioResponse" message="tns:IUsuarioService_ModificarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuarioService/EliminarUsuario" message="tns:IUsuarioService_EliminarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuarioService/EliminarUsuarioResponse" message="tns:IUsuarioService_EliminarUsuario_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUsuarioService/EliminarUsuarioValidationExceptionFault" name="ValidationExceptionFault" message="tns:IUsuarioService_EliminarUsuario_ValidationExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarUsuarios">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuarioService/ListarUsuarios" message="tns:IUsuarioService_ListarUsuarios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuarioService/ListarUsuariosResponse" message="tns:IUsuarioService_ListarUsuarios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AutenticarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuarioService/AutenticarUsuario" message="tns:IUsuarioService_AutenticarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuarioService/AutenticarUsuarioResponse" message="tns:IUsuarioService_AutenticarUsuario_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUsuarioService" type="tns:IUsuarioService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CrearUsuario">
      <soap:operation soapAction="http://tempuri.org/IUsuarioService/CrearUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ValidationExceptionFault">
        <soap:fault use="literal" name="ValidationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ObtenerUsuario">
      <soap:operation soapAction="http://tempuri.org/IUsuarioService/ObtenerUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarUsuario">
      <soap:operation soapAction="http://tempuri.org/IUsuarioService/ModificarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarUsuario">
      <soap:operation soapAction="http://tempuri.org/IUsuarioService/EliminarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ValidationExceptionFault">
        <soap:fault use="literal" name="ValidationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListarUsuarios">
      <soap:operation soapAction="http://tempuri.org/IUsuarioService/ListarUsuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AutenticarUsuario">
      <soap:operation soapAction="http://tempuri.org/IUsuarioService/AutenticarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UsuarioService">
    <wsdl:port name="BasicHttpBinding_IUsuarioService" binding="tns:BasicHttpBinding_IUsuarioService">
      <soap:address location="http://localhost:2714/UsuarioService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>