ProyectoX/SanJacinto/Service References/wsReporteService/ReportingServices2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SanJacintoServices.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SanJacintoServices.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAutoReporte">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AutoReporte" nillable="true" type="tns:AutoReporte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAutoReporte" nillable="true" type="tns:ArrayOfAutoReporte" />
  <xs:complexType name="AutoReporte">
    <xs:sequence>
      <xs:element minOccurs="0" name="Categoria" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Imagen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Marca" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modelo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Placa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Precio" type="xs:decimal" />
      <xs:element minOccurs="0" name="veces" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AutoReporte" nillable="true" type="tns:AutoReporte" />
</xs:schema>