ProyectoX/SanJacintoTest/Service References/wsAlquiler/AlquilerService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SanJacintoServices.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SanJacintoServices.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Alquiler">
    <xs:sequence>
      <xs:element minOccurs="0" name="Accesorios" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Auto" nillable="true" type="tns:Auto" />
      <xs:element minOccurs="0" name="CantidadDias" type="xs:int" />
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Costo" type="xs:decimal" />
      <xs:element minOccurs="0" name="CostoAdicional" type="xs:decimal" />
      <xs:element minOccurs="0" name="FechaFin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaInicio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Igv" type="xs:decimal" />
      <xs:element minOccurs="0" name="MontoTotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="tns:Usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Alquiler" nillable="true" type="tns:Alquiler" />
  <xs:complexType name="Auto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Categoria" type="xs:int" />
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="tns:Estado" />
      <xs:element minOccurs="0" name="Imagen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Marca" nillable="true" type="tns:Marca" />
      <xs:element minOccurs="0" name="Modelo" nillable="true" type="tns:Modelo" />
      <xs:element minOccurs="0" name="Placa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Precio" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Auto" nillable="true" type="tns:Auto" />
  <xs:complexType name="Estado">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Estado" nillable="true" type="tns:Estado" />
  <xs:complexType name="Marca">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Marca" nillable="true" type="tns:Marca" />
  <xs:complexType name="Modelo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Marca" nillable="true" type="tns:Marca" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Modelo" nillable="true" type="tns:Modelo" />
  <xs:complexType name="Usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellidos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dni" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Licencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Usuario" nillable="true" type="tns:Usuario" />
  <xs:complexType name="ArrayOfAlquiler">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Alquiler" nillable="true" type="tns:Alquiler" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAlquiler" nillable="true" type="tns:ArrayOfAlquiler" />
</xs:schema>