ProyectoX/SanJacintoTest/Service References/wsAlquiler/AlquilerService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2714/AlquilerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SanJacintoServices.Dominio" />
  <xs:element name="registrarAlquiler">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SanJacintoServices.Dominio" minOccurs="0" name="objAlquiler" nillable="true" type="q1:Alquiler" />
        <xs:element minOccurs="0" name="intCodigoAuto" type="xs:int" />
        <xs:element minOccurs="0" name="intCodigoUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registrarAlquilerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SanJacintoServices.Dominio" minOccurs="0" name="registrarAlquilerResult" nillable="true" type="q2:Alquiler" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerAlquiler">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intCodigoAlquiler" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerAlquilerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SanJacintoServices.Dominio" minOccurs="0" name="obtenerAlquilerResult" nillable="true" type="q3:Alquiler" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listaAlquileres">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listaAlquileresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SanJacintoServices.Dominio" minOccurs="0" name="listaAlquileresResult" nillable="true" type="q4:ArrayOfAlquiler" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>